fastapi==0.104.1
uvicorn[standard]==0.24.0
torch --index-url https://download.pytorch.org/whl/cpu --find-links https://download.pytorch.org/whl/torch_stable.html
torchvision --index-url https://download.pytorch.org/whl/cpu --find-links https://download.pytorch.org/whl/torch_stable.html
opencv-python-headless==4.8.1.78
pillow==10.0.0
numpy==1.24.3
python-multipart